<strong>Olá, {{students}} </strong>
<p>Sua Pergunta foi Respondida! Segue os Detalhe </p>
<p>
  <strong>Pergunta: </strong>{{question}} <br />
  <strong>Resposta: </strong>{{answer}}<br />
  <strong>Data da Resposta: </strong>{{answer_at}}<br />
  <br />
  <small>
    Atenciosamente Suporte GymPoint.
  </small>
</p>
